.tableWrapper {
  box-shadow: 0px 4px 5px #E9EDF3;
  border-radius: 8px;
  width: min(100%, 1440px);
  margin-inline: auto;
  overflow-y: scroll;
  height: 100vh;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--c-icon);
    border-radius: 15px;
    opacity: 0.5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--c-text-secondary);
    border-radius: 15px;
  }
}

.rowCheckbox {
  opacity: 0;
}

.table {
  background-color: var(--c-white);
  border-collapse: collapse;
  width: 100%;

  &__row {
    border-top: 1px solid var(--c-border);

    td {
      padding: 12px 0;
      min-height: 65px;

      &:first-of-type {
        padding-inline: 12px;
      }

      &:last-of-type {
        padding-right: 40px;
      }

      &>* {
        vertical-align: middle;
      }

      &:last-of-type:has(div > [data-id="record-player"]) {
        [data-id="record-player"] {
          display: none;
        }

        [data-id="record-time"] {
          display: block;
        }
      }
    }

    &:hover {
      background-color: rgba(212, 223, 243, 0.17);

      .rowCheckbox {
        opacity: 1;
      }

      td {
        &:last-of-type:has(div > [data-id="record-player"]) {
          padding: 0;

          [data-id="record-player"] {
            display: block;
          }

          [data-id="record-time"] {
            display: none;
          }
        }
      }
    }
  }
}

.header {
  &__cell {
    position: sticky;
    top: 0;
    text-align: start;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: var(--c-text-header);
    padding-bottom: 20px;
    background-color: var(--c-white);
    padding-top: 26px;
    z-index: var(--z-index-10);

    &:first-of-type {
      padding-inline: 12px;
    }

    &:last-of-type {
      padding-right: 40px;
    }

    &>* {
      vertical-align: middle;
    }
  }
}

.body {
  font-size: 15px;
  line-height: 21px;
}

.image {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  border-radius: 999px;
  object-fit: cover;
}

.time {
  display: block;
  text-align: end;
}