@import '/node_modules/modern-normalize/modern-normalize.css';

@font-face {
	font-family: 'SF-Pro-Display';
	src: url('./assets/fonts/sf-pro-display-regular.OTF');
	font-weight: 400;
}

@font-face {
	font-family: 'SF-Pro-Display';
	src: url('./assets/fonts/sf-pro-display-medium.OTF');
	font-weight: 500;
}

:root {
	font-family: SF-Pro-Display, Inter, system-ui, Avenir, Helvetica, Arial,
		sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--c-white: #ffffff;
	--c-yellow: #ffd500;
	--c-red: #ea1a4f;
	--c-green: #28a879;
	--c-blue-accent: #005ff8;
	--c-blue-accent-hover: #0024cb;
	--c-blue-accent-active: #274bc8;

	--c-text-header: #899cb1;
	--c-text-primary: #122945;
	--c-text-secondary: #5e7793;
	--c-text-success: #00a775;

	--c-border: #eaf0fa;
	--c-icon: #adbfdf;

	--bg-side-bar: #091336;
	--bg-side-bar-item-hover: #d8e4fb52;
	--bg-progress-bar: #dee6f5;
	--bg-main-page: #f1f4f9;

	--border-dropdown: 1px solid var(--c-border);

	--logo-color: #ffd500;

	--z-index-dropdown: var(--z-index-max);

	--z-index-10: 10;
	--z-index-20: 20;
	--z-index-max: 999;
}

body {
	font-family: 'SF-Pro-Display';
	font-weight: 400;
	color: var(--c-text-primary);
}

body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	background-color: var(--c-icon);
	border-radius: 15px;
	opacity: 0.5;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--c-text-secondary);
	border-radius: 15px;
}

svg path {
	fill: currentColor;
}

.layout {
	display: grid;
	grid-template-columns: 240px 1fr;
	grid-template-rows: 64px auto;
	grid-template-areas:
		'side-bar header'
		'side-bar main';
	background-color: var(--bg-main-page);
}
