@import '/node_modules/modern-normalize/modern-normalize.css';

@font-face {
	font-family: 'SF-Pro-Display';
	src: url('./assets/fonts/sf-pro-display-regular.OTF');
	font-weight: 400;
}

@font-face {
	font-family: 'SF-Pro-Display';
	src: url('./assets/fonts/sf-pro-display-medium.OTF');
	font-weight: 500;
}

:root {
	font-family: SF-Pro-Display, Inter, system-ui, Avenir, Helvetica, Arial,
		sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--c-white: #ffffff;
	--c-yellow: #ffd500;
	--c-red: #ea1a4f;
	--c-green: #28a879;
	--c-blue-accent: #002cfb;
	--c-blue-accent-hover: #0024cb;
	--c-blue-accent-active: #274bc8;

	--c-text-header: #899cb1;
	--c-text-primary: #122945;
	--c-text-success: #00a775;

	--bg-side-bar: #091336;
	--bg-side-bar-item-hover: #d8e4fb52;
	--bg-progress-bar: #dee6f5;

	--logo-color: #ffd500;
}

body {
	font-family: 'SF-Pro-Display';
}

svg path {
	fill: currentColor;
}

.layout {
	display: grid;
	grid-template-columns: 240px 1fr;
	grid-template-rows: auto 100vh;
	grid-template-areas:
		'side-bar header'
		'side-bar main';
}
